<html>
<head>
<title> ATTENDANCE 2.0 </title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<header>
        <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:red">FRS</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="home_new.html">Home</a></li>
      <li><a href="face_register.html">Face Register</a></li>
      <li class="active"><a href="mark_attendance.html">Mark Attendance</a></li>
      <li><a href="/report">Report</a></li>
      
    </ul>
      
   
      
  </div>
</nav>
    
    </header> 
<div class="container" style="padding-left: 470px;padding-top:10px;border:2px solid black;background-color:#FCE2BD;margin-top:40px
">
<h2 style="padding-top:none;">Mark Attendance</h2>
<form action="/recognise_IN"style="margin-top:30px;">
<button type="submit" class="btn btn-primary" style="width: 200px">ENTRY</button>   
</form> 
<form action="/recognise_OUT">
<button type="submit" class="btn btn-primary" style="width: 200px">EXIT</button>   
</form>
</div>
<br><br><br><br><br><br>
<footer style="background-color: #EEEEEE;
  padding: 20px;
  font-size: 35px;
  text-align: center;
  color: black;">
<p>Contact</p>
  <p style="font-size:14px">Vellore Institute of Technology, Vellore, Tamil Nadu-632014</p>
  <p style="font-size:14px">adityak0308@gmail.com</p>
  <p style="font-size:14px">+91 8800500413</p>
</footer>



</body>
</html>